<h1>Tyler Technology - Test</h1>

<div class="margin-bottom">
  <app-user (formEmit)="getUser($event)"></app-user>
</div>

<div class="container" *ngIf="user">
  <div>
    <div class="data">
      <div class="title">Name:</div>
      <div class="value">{{ user.name }}</div>
    </div>

    <div class="data">
      <div class="title">Street:</div>
      <div class="value">{{ user.street }}</div>
    </div>

    <div class="data">
      <div class="title">City:</div>
      <div class="value">{{ user.city }}</div>
    </div>

    <div class="data">
      <div class="title">Province:</div>
      <div class="value">{{ user.province }}</div>
    </div>
    <div class="data">
      <div class="title">Postal Code:</div>
      <div class="value">{{ user.postalCode }}</div>
    </div>
  </div>
</div>
